---
assurance_health_score_settings:
  - device_health_score:
    - device_family: SWITCH_AND_HUB  # required field
      kpi_name: CPU Utilization  # required field
      include_for_overall_health: true  # required field
      threshold_value: 91
      synchronize_to_issue_threshold: false
