---
single:
  {% for discovery_element in discovery_elements %}
  - ip_address_list:
      - 204.1.2.5
    discovery_type: SINGLE
    protocol_order: ssh
    state: merged
    discovery_name: Single IP Discovery {{ discovery_element }}
  {% endfor %}