---
- name: Generate Backup and Restore playbook Configuration
  hosts: catalyst_center_hosts
  connection: local
  gather_facts: no

  vars_files:
    - "{{ VARS_FILE_PATH }}"
  
  vars:
    state: gathered
    catalyst_center_login: &catalyst_center_login
      dnac_host: "{{ catalyst_center_host | default(dnac_host) }}"
      dnac_username: "{{ catalyst_center_username | default(dnac_username) }}"
      dnac_password: "{{ catalyst_center_password | default(dnac_password) }}"
      dnac_version: "{{ catalyst_center_version | default(dnac_version) }}"
      dnac_port: "{{ catalyst_center_port | default(443) }}"
      dnac_verify: "{{ catalyst_center_verify | default(dnac_verify) }}"
      dnac_debug: "{{ catalyst_center_debug | default(dnac_debug) }}"
      dnac_log: "{{ catalyst_center_log | default(dnac_log) }}"
      dnac_log_level: "{{ catalyst_center_log_level | default(dnac_log_level) }}"
      dnac_log_file_path: "{{ catalyst_center_log_file_path | default(omit) }}"
      dnac_log_append: "{{ catalyst_center_log_append | default(True) }}"
      dnac_api_task_timeout: "{{ catalyst_center_api_task_timeout | default(1200) }}"

  tasks:
    - name: Print VARS_FILE_PATH
      debug:
        msg: "Input file selected: {{ VARS_FILE_PATH }}"
    
    - name: Playbook start time for backup and restore playbook configuration generation
      set_fact:
        config_gen_start: "{{ now() }}"

    # =========================================================================
    # Generate Backup and Restore Playbook Configuration
    # =========================================================================
    - name: Generate YAML configuration for backup and restore
      cisco.dnac.backup_and_restore_playbook_config_generator:
        <<: *catalyst_center_login
        state: "{{ state }}"
        config: "{{ [item] }}"
      loop: "{{ backup_and_restore_playbook_config }}"
      when:
        - backup_and_restore_playbook_config is defined
        - backup_and_restore_playbook_config | length > 0
      register: config_generation_result

    - name: Display configuration generation results
      debug:
        var: config_generation_result
      when: config_generation_result is defined

    # =========================================================================
    # Playbook Execution Summary
    # =========================================================================
    - name: Playbook end time
      set_fact:
        config_gen_end: "{{ now() }}"
    
    - name: Print playbook execution time
      debug:
        msg: "Backup and restore configuration generation playbook run time: start: {{ config_gen_start }}, end: {{ config_gen_end }}"