---
  #This file is to program onboarding of single device with large number of ports.
  sda_host_onboarding_details: 
    - ip_address: "204.101.16.1"
      fabric_site_name_hierarchy: "Global/USA/SAN JOSE"
      port_assignments:
{% for i in range(1, 4) %}  
      - interface_name: "GigabitEthernet5/0/{{i}}"
        connected_device_type: "ACCESS_POINT"
        data_vlan_name: APPOOL_SJC_INFRA_VN
        authentication_template_name: "No Authentication"
        interface_description: "USER_DEVICE Port {{i}}"
{% endfor %}
{% for i in range(6, 28) %}  
      - interface_name: "GigabitEthernet5/0/{{i}}"
        connected_device_type: "ACCESS_POINT"
        data_vlan_name: APPOOL_SJC_INFRA_VN
        authentication_template_name: "No Authentication"
        interface_description: "USER_DEVICE Port {{i}}"
{% endfor %}
{% for i in range(30, 32) %}  
      - interface_name: "GigabitEthernet5/0/{{i}}"
        connected_device_type: "ACCESS_POINT"
        data_vlan_name: APPOOL_SJC_INFRA_VN
        authentication_template_name: "No Authentication"
        interface_description: "USER_DEVICE Port {{i}}"
{% endfor %}
{% for i in range(34, 48) %}  
      - interface_name: "GigabitEthernet5/0/{{i}}"
        connected_device_type: "ACCESS_POINT"
        data_vlan_name: APPOOL_SJC_INFRA_VN
        authentication_template_name: "No Authentication"
        interface_description: "USER_DEVICE Port {{i}}"
{% endfor %}
{% for i in range(1, 28) %}
      - interface_name: "GigabitEthernet6/0/{{i}}"
        connected_device_type: "ACCESS_POINT"
        data_vlan_name: APPOOL_SJC_INFRA_VN
        authentication_template_name: "No Authentication"
        interface_description: "USER_DEVICE Port {{i}}"
{% endfor %}
{% for i in range(30, 48) %}
      - interface_name: "GigabitEthernet6/0/{{i}}"
        connected_device_type: "ACCESS_POINT"
        data_vlan_name: APPOOL_SJC_INFRA_VN
        authentication_template_name: "No Authentication"
        interface_description: "USER_DEVICE Port {{i}}"
{% endfor %}
